.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}   
html {
/* CSS HEX */
--bright-pink-crayola: #ef476fff;
--sunglow: #ffd166ff;
--emerald: #06d6a0ff;
--blue-ncs: #118ab2ff;
--midnight-green: #073b4cff;
}
body{ font-family: "roboto", sans-serif;;}

header {
    background-color: #ef476fff;
    font-family: roboto-bold;
}

h1 {
    color: white;
    font-size: 45px;
    font-family: "roboto", sans-serif;
    text-align: center;}


ul {
    text-align: center;
}
li {
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 13px;
}